.header {
    &-top {
        height: 45px;
        background-color: $grey;

        &_right {
            height: 100%;
            display: flex;
        }

        .container_small {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__basket {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            margin-left: 65px;
            font-size: 13px;
            font-weight: 400;
            background-color: $blue;
            padding: 0px 20px;
            transition: all 0.4s;

            &:hover {
                opacity: 0.9;
            }

            i {
                margin-right: 22px;
            }
        }
    }

    &-auth {
        display: flex;
        height: 100%;

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 15px;
            height: 100%;
            color: #999;
            font-size: 13px;
            font-weight: 400;
            text-decoration: none;
            transition: all 0.4s;

            &:hover {
                background-color: $blue;
                color: #fff;
            }
        }
    }

    &__bottom {
        padding: 38px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_right {
            display: flex;
        }
    }

    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: #222;
        letter-spacing: 1.2px;
        text-decoration: none;
        text-transform: uppercase;

        span {
            font-weight: 400;
        }
    }

    &-menu {
        margin-right: 6vw;

        &__list {
            display: flex;
            align-items: flex-start;
            list-style-type: none;
        }

        &__item {
            position: relative;
            margin-right: 55px;

            &:last-child {
                margin-right: 0;
            }

            >span {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 400;
                color: #222222;
                transition: all 0.3s;

                &:hover {
                    color: $blue;
                }
            }
        }

        &__wrapper {
            opacity: 0;
            visibility: hidden;
            background-color: transparent;
            position: absolute;
            top: 30px;
            left: 0;
            padding-top: 20px;
            transition: all 0.4s;
            z-index: 2;
        }
    }

    &-search {
        position: relative;
        height: 30px;
        border: 1px solid #adacac;

        &__input {
            background-color: transparent;
            height: 100%;
            width: 190px;
            border: none;
            font-size: 13px;
            font-weight: 300;
            outline: none;
            padding-right: 35px;
            padding-left: 11px;
            transition: all 0.3s;

            &:focus {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
            }
        }

        &__btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #989898;
            margin-right: 11px;
        }
    }

    &-menuBlock {
        padding: 30px;
        background-color: #f8f8f8;
        box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);

        &__banner {
            padding: 60px 50px;
            background-color: #333333;
            font-size: 36px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            width: 410px;
            letter-spacing: 1.8px;
            line-height: 48px;
            margin-top: 50px;

            span {
                font-weight: 700;
            }
        }

        &__list {
            display: inline-block;
            list-style-type: none;
            vertical-align: top;

            &:first-child {
                margin-right: 80px;
            }
        }

        &__link {
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 15px;
            transition: all 0.3s;

            &:hover {
                color: $blue;
            }
        }

        &__title {
            font-size: 12px;
            font-weight: 300;
            color: #727272;
            text-transform: uppercase;
            color: #575153;
            margin-bottom: 20px;
        }
    }

    &-menu__item:hover .header-menu__wrapper {
        opacity: 1;
        visibility: visible;
    }
}