.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95vh;
    padding-bottom: 120px;
    background: url(../img/main/main-bg.jpg) no-repeat center center / cover;

    &__btn {
        display: inline-block;
        margin-right: 320px;
        border: 2px solid #737373;
        font-size: 16px;
        font-weight: 400;
        color: #454647;
        padding: 23px 33px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.3s;
        align-self: flex-end;

        &:hover {
            background-color: $blue;
            color: #fff;
            border: 2px solid $blue;
        }
    }

    &__title {
        font-size: 25vw;
        font-weight: 700;
        color: #575153;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        span {
            margin-right: 10%;
        }
    }
}