@media (max-width: 1920px) {
    .container_big {
        padding: 0px 50px;
    }

    .main__btn {
        margin-right: 10vw;
    }
}

@media (max-width: 1300px) {
    .header-menu {
        margin-right: 20px;
    }

    .container_big {
        padding: 0px 20px;
    }

    .header-menu__item {
        margin-right: 30px;
    }

    .header-search__input {
        width: 150px;
    }
}

@media (max-width: 992px) {
    .main {
        padding-bottom: 60px;
    }

    .header__bottom_right {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        color: #fff;
        padding: 50px;
        padding-top: 68px;
        overflow: auto;
        transform: translateX(-100%);
        transition: all 0.4s;
    }

    .header__bottom_right.active {
        transform: translateX(0);
    }

    .header__bottom {
        padding-top: 30px;
    }

    .header-menu {
        order: 2;

        &__list {
            flex-direction: column;
        }

        &__item {
            margin-bottom: 20px;
            font-size: 18px;
            transition: all 0.4s;

            span {
                display: block;
                color: #fff;

                i {
                    margin-left: 10px;
                }
            }
        }

        &__wrapper {
            visibility: visible;
            opacity: 1;
            display: none;
            position: static;
        }
    }

    .header-menuBlock {
        background-color: transparent;
        padding: 0;
        padding-left: 30px;

        &__title,
        &__link {
            color: #fff;
        }

        &__banner {
            display: none;
        }

        &__list {
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }

    .header-search {
        order: 1;
        color: #fff;
        margin-bottom: 50px;
        height: 40px;
        flex: 0 0 auto;
        width: 90%;

        &__input {
            width: 100%;
            color: #fff;

            &::placeholder {
                color: #fff;
            }
        }

        &__btn {
            color: #fff;
        }
    }

    .header-menu__item:hover .header-menu__wrapper {
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .header__hamburger {
        display: block;
    }
}

@media (max-width: 576px) {
    .header__bottom_right {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-auth {
        flex: 0 0 auto;
    }

    .header-top__basket {
        margin-left: 0;

        span {
            display: none;
        }

        i {
            margin-right: 0;
        }
    }

    .container_small {
        padding: 0px 10px;
    }

    .container_big {
        padding: 0px 10px;
    }

    .main__btn {
        align-self: center;
        margin: 0;
        max-width: 100%;
        font-size: 4vw;
        padding: 15px;
    }
}