@import "base/fonts";
@import "base/mixins";
@import "base/variables";
@import "blocks/submenu";
@import "blocks/header";
@import "blocks/main";
@import "blocks/hamburger";
@import "blocks/catalog";
@import "blocks/lookbook";
@import "blocks/footer";
@import "blocks/brand";

* {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.container_big {
    padding: 0px 140px;
    width: 100%;
}

.container_small {
    max-width: 100%;
    padding: 0px 20px;
    width: 1210px;
    margin: 0 auto;
}



@import "blocks/media";
